@import url('reset.css');

.body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 996px;
    margin: 0 auto;
}

.triangle {
    background:#FFFFFF;
    width: 100%;
    height: 82px;
    text-align:center;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    position: absolute;
    top: -1px;
    transform: scaleY(-1);
}

.header {
    width: 100%;
    position: absolute;
    top: 32px;
    background: #FFFFFF;
    z-index: 1;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-block;
    padding: 40px 0 37px;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
    color: #424F57;
}

.header__logo span{
    font-weight: 900;
    text-transform: uppercase;
    color: #14AFCA;
}

.header__menu {
    width: 565px;
    display: flex;
    justify-content: space-between;
}

.header__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3E4C4E;
    transition: .4s ease;
}

.header__link:hover {
    color: #14AFCA;
}

/* banner */

.banner {
    position: relative;
    height: 596px;
    display: flex;
    align-items: center;
    background: url('../img/bg1.jpg') center/cover no-repeat;
}

.banner__title {
    font-family: 'Futura Md BT', sans-serif;
    font-size: 52px;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner__triangle {
    background:#FFFFFF;
    width: 50%;
    height: 82px;
    text-align:center;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
    position: absolute;
    bottom: -1px;
}

.banner__triangle_right {
    transform: scaleX(-1);
    right: 0;
}

/* what */
.what {
    padding: 133px 0 99px;
    text-align: center;
}

.what__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    color: #14AFCA;
}

.what__subtitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 2.22;
    letter-spacing: 1px;
    color: #424F57;
    margin-bottom: 22px;
}

.what__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #424F57;
}

/* companies */

.companies {
    height: 633px;
    background: url('../img/bg2.jpg') top/cover no-repeat;
    text-align: center;
    padding: 128px 0 94px;
    position: relative;
    background-attachment: fixed;
}

.companies__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.25;
    color: #14AFCA;
}

.companies__subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1px;    
    color: #FFFFFF;
    margin-bottom: 42px;
}

.companies__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    row-gap: 121px;
}

/* team */

.team {
    text-align: center;
    padding: 175px 0 124px;
    position: relative;
}

.team__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    color: #14AFCA;
}

.team__subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 2.22;
    letter-spacing: 1px;
    color: #424F57;
    margin-bottom: 26px;
}

.team .container {
    max-width: 1010px;
}

.team__text {
    max-width: 279px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.87;
    color: #424F57;
}

.team__wrapper {
    display: flex;
    justify-content: space-between;
}

/* testimonials */

.testimonials {
    text-align: center;
    height: 580px;
    background: url('../img/bg3.jpg') center/cover no-repeat;
    padding: 153px 0 145px;
    position: relative;
}

.testimonials .container {
    max-width: 907px;
}

.testimonials__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.25;
    color: #14AFCA;
}

.testimonials__subtitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 1px;    
    color: #FFFFFF;
    margin-bottom: 62px;
}

.testimonials__text {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 1px;
    color: #D3CCCC;
    margin-bottom: 28px;
}

.testimonials__signature {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 18px;
    line-height: 1.33;    
    color: #FFFFFF;
    text-align: right;
    padding-right: 95px;
}

/* why */

.why {
    text-align: center;
    padding: 114px 0 96px;
}

.why .container{
    max-width: 831px;
}

.why__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #14AFCA;
}

.why__subtitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 2.22;    
    color: #424F57;
    margin-bottom: 29px;
}

.why__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1px;    
    color: #424F57;
}

.footer__copyright {
    text-align: center;
    max-width: 418px;
    margin: 0 auto 88px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1px;
    color: #3D3C3C;
}

.footer__copyright a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;    
    color: #3D3C3C;
}