@import url('reset.css');

.body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 996px;
    margin: 0 auto;
}

.triangle {
    background:#FFFFFF;
    width: 100%;
    height: 82px;
    text-align:center;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    position: absolute;
    bottom: -81px;
    transform: scaleY(-1);
    z-index: 1;
}

.triangle-twin {
    background:#FFFFFF;
    width: 50%;
    height: 82px;
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
    position: absolute;
    top: -81px;
}

.triangle-twin_right {
    transform: scaleX(-1);
    right: 0;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    color: #14AFCA;
}

.subtitle {    
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 2.22;
    letter-spacing: 1px;
    color: #424F57;
    margin-bottom: 22px;
}

.subtitle_white {  
    color: #FFFFFF;
}

.header {
    width: 100%;
    position: absolute;
    top: 32px;
    background: #FFFFFF;
    z-index: 1;
}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-block;
    padding: 40px 0 37px;
    font-weight: 300;
    font-size: 36px;
    line-height: 1;
    color: #424F57;
}

.header__logo span{
    font-weight: 900;
    text-transform: uppercase;
    color: #14AFCA;
}

.header__menu {
    width: 565px;
    display: flex;
    justify-content: space-between;
}

.header__link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3E4C4E;
    transition: .4s ease;
}

.header__link:hover {
    color: #14AFCA;
}

/* banner */

.banner__title {
    font-family: 'Futura Md BT', sans-serif;
    font-size: 52px;
    line-height: 1.44;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* what */

.what {
    padding: 133px 0 99px;
    text-align: center;
    position: relative;
}

.what__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: #424F57;
}

/* companies */

.companies__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 96px;
    align-items: center;
    row-gap: 93px;
    padding-bottom: 74px;
}

.companies__item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies__item_active {
    background: white;
}

/* team */

.team {
    text-align: center;
    padding: 175px 0 124px;
    position: relative;
}

.team .container {
    max-width: 1010px;
}

.team__text {
    max-width: 279px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.87;
    color: #424F57;
}

.team__wrapper {
    display: flex;
    justify-content: space-between;
}

/* testimonials */

.testimonials .container {
    max-width: 907px;
}

.testimonials__text {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 1px;
    color: #D3CCCC;
    margin-bottom: 28px;
}

.testimonials__signature {
    font-family: 'Open Sans';
    font-style: italic;
    font-size: 18px;
    line-height: 1.33;    
    color: #FFFFFF;
    text-align: right;
    padding-right: 95px;
}

/* why */

.why {
    text-align: center;
    padding: 114px 0 96px;
    position: relative;
}

.why .container{
    max-width: 831px;
}

.why__text {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1px;    
    color: #424F57;
}

.footer__copyright {
    text-align: center;
    max-width: 418px;
    margin: 0 auto 88px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 1px;
    color: #3D3C3C;
}

.footer__copyright a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;    
    color: #3D3C3C;
}

/* parallax */

.parallax {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
}

.parallax::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
}

.parallax__elem {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 70vh 0;
}

.parallax__item_1 {
    transform: translateZ(-1px) scale(2);
}

.parallax__item_1::before {    
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000ac;
}

.parallax__item_2 {
    transform: translateZ(0);
}

.banner .parallax__item_1 {
    background: url('../img/bg1.jpg') center/cover no-repeat;
}

.banner .parallax__item_2 {
    padding: 100vh 0 38vh;
}

.companies .parallax__item_1 {
    padding: 74vh 0;
    background: url('../img/bg2.jpg') top/cover no-repeat;
}

.companies .parallax__item_2 {
    padding: 100vh 0 0;
}

.testimonials .parallax__item_1 {
    background: url('../img/bg3.jpg') center/cover no-repeat;
}

.testimonials .parallax__item_2 {
    padding: 100vh 0 27vh;
}
