@import url('reset.css');

.body {
    font-family: 'Arimo', sans-serif;
    background-color: #3A4965;
}

.pricing-table {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: collapse;
    background: #F2F2F2;
    text-align: center;
    text-transform: uppercase;
}

.table__col_plan {
    width: 200px;
}

.table__col_value {
    width: 160px;
}
.table__col_value_dark {
    background: #E3E3E3;
}

.table__headline {
    height: 102px;
    border-bottom: 10px solid #3A4965;
}

.table__headline_text {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #484848;
}

.table__headline_text_thin {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #484848;
}


.table__data,
.table__plan {
    height: 167px;
}

.table__plan {
    background: #89C331;
    color: #FFFFFF;
    font-weight: 700;
}

.table__plan_red {
    background: #F04A56;
}

.table__plan_blue {
    background: #20807C;
}

.table__heading {
    font-size: 24px;
    line-height: 1.17;
}

.table__price_body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 10px;
}

.table__price_whole {
    font-size: 36px;
    line-height: 1;
}

.table__price_change {
    font-size: 18px;
    line-height: 1.56;
    position: relative;
    top: -9px;
}

.table__btn {
    font-size: 16px;
    line-height: 1.75;
    padding: 7px 34px;
    background: linear-gradient(0deg, #343434 12%, #414141 0%);
    border-radius: 5px;
    display: inline-block;
}

.table__data {
    font-size: 16px;
    line-height: 1.5;    
    color: #484848;
}

.table__body-row:nth-child(2) .table__data {
    border-top: 2px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
}