@import url('reset.css');

.body {
    font-family: 'Arimo', sans-serif;
    background-color: #3A4965;
}

.pricing-table {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: collapse;
    background: #FAFAFA;
    text-align: center;
}

.table__col_prop {
    width: 311px;
}

.table__col_value {
    width: 280px;
}

.table__headline {
    background: #89C331;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.table__headline_red {
    background: #F04A56;
    font-size: 30px;
    line-height: 1;
}

.table__headline_blue {
    background: #20807C;
}

.table__headline_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.56;
    text-transform: uppercase;
    color: #484848;
    background: #FAFAFA;
}

.table__headline_text_bold {
    font-size: 30px;
    line-height: 1;
    display: block;
}

.table__headline {
    height: 73px;
}

td {
    height: 70px;
}

.table__price {
    height: 817%;    
    background: #FAFAFA;
}

.table__price_body {
    display: flex;
    justify-content: center;
}

.table__price_whole {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    color: #484848;
    padding-top: 16px;
}

.table__price_change {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #484848;
    transform: translateY(5px);
}

.table__price_caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    text-transform: uppercase;
    color: #484848;
}

.table__price_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.table__body-row {
    background: #F2F2F2;
}

.table__body-row:nth-child(even) {
    background: #E3E3E3;
}

.table__body-cell {
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #484848;
}

.table__body-cell:not(:first-child),
.table__price,
.table__footer-cell:not(:first-child) {
    border-left: 2px solid #c7c7c7;
}

.table__footer-cell {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 108px;
    background: #EEEEEE;
}

.table__footer-cell:first-child {
    background: #DDDDDD;
}

.table__footer-cell:nth-child(3) {
    background: #F4F4F4;
}

.table__btn {
    display: inline-block;
    width: 192px;
    padding: 18px 0;
    border-radius: 5px;
    background: linear-gradient(0deg, #404040 17%, #484848 0%);
}

.table__btn_green {
    background: linear-gradient(0deg, #79B027 17%, #89C331 0%);
}

.table__btn_red {
    background: linear-gradient(0deg, #DF3A46 17%, #F04A56 0%);
}

.table__btn_blue {
    background: linear-gradient(0deg, #16736F 17%, #20807C 0%);
}