@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.eot');
    src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url('../fonts/GilamBold.otf') format("opentype"),
    url('../fonts/GilamSemiBold.otf') format("opentype"),
    url('../fonts/GilamBook.otf') format("opentype"),
    ;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url('../fonts/GilamSemiBold.otf') format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url('../fonts/GilamBook.otf') format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: url('../fonts/GilamRegular.otf') format("opentype");
    font-weight: 400;
    font-style: normal;
}